html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #3a3a3a, #a3a3a3)
}

.Header{
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background: linear-gradient(to right,#aedcff, 25%, #0f3464);
  
}

.Footer{
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background: linear-gradient(to right,#aedcff, 25%, #0f3464);
}

.content-container{
  display: flex;
  flex: 1;
}

.currentPage {
  flex: 1;
  border: 1px solid black;
}



/* start of sidebar section */

.sidebar{
  flex: 0 0 15%;
  border: 1px solid black;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #4682B4;
  background: linear-gradient(to right,#aedcff, 25%, #4682B4);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding-top: 5%;
  padding-bottom: 5;
  color: #000000;
}

.toggle-button {
  margin-top: 10%;
}

.sidebar-arrow {
  color: aqua;
  cursor: pointer;
  position: absolute;
  top: 20%;
}

/* Position: Absolute allows the arrow to remain on screen while the parent div does not*/


.collapsed{
  flex: 0 0 0;
}

/* end of sidebar section */

/*start of landing page section */

.landing-main-container{
  display: flex;
  width: 100%;
  height: 100%;
}

/*start of left container*/

.landing-left-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

/*"box-sizing: border-box" allows containers to count padding and border in the total width */

.author-photo {
  width: 40%;
  margin-top: 10%;
}

.AboutL {
  margin: 0%;
  padding: 0%;
}

.Me-Paragraph{
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

/*end of left container*/
/*start of right container*/

.landing-right-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.AboutR {
  padding-top: 5%
}

.Project-Paragraph{
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}


/*end of right container*/

/*end of landing page section */